*{
	padding: 0; margin:0;
}

.header .name {
    color: yellow;
}

.header ul a li {
    color: white;
}


.nav-bar{
	width: 100%;
	height: 60px;
	background-color: #07cbc9;
	color: white;
    position: fixed;
    z-index:300;
}

.nav-bar .name{
	float: left;
	padding-left: 75px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 25px;
 
	
}

.nav-bar ul {
	float: right;
	list-style: none;
	display: inline-block;
	padding-right: 80px;
}
.nav-bar ul li{
	float: left;
	padding-left: 30px;
	line-height: 60px;
    font-size: 18px;

}

.nav-bar ul li:hover {
	color: yellow;
}

img{
    width: 100%;
    height: auto;
}

.body {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.left{
    padding-top: 80px;
    
    float: left;
    width: 40%;
    height: 1000px;
    /* background-color: darkorange; */
}

.right{
    padding-top: 200px;
   
    width: 60%;
    height:1000px;
    float: right;
    /* background-color: cornflowerblue; */
}



div.text-block {
    margin-top: -4px;
    width: 100%;
    height: auto;
    background-color: #83d3d2;
    font-size: 20px;
    color: white;
    line-height: 1.5;
  
  }

p{
    margin-left: 12px;
    margin-right: 8px;

}


.right .case .pic {
    padding-top: 10px;
    width: 35%;
    display: inline;
    float: left;
    padding-left:55px;
}

.right .case .text {

    width: 50%;
    display: inline;
    float: right;
    margin-left: 20px;
}

.pic{
  position: relative; 
  /* max-width: 800px;   */
  /* Maximum width */
  margin: 0 auto; 
  /* Center it */
}

.pic .content {
    
    position: absolute; /* Position the background text */
    bottom: -45px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 257px; /* Full width */
    padding: 8px; 
    /* Some padding */
    
  }

  .pic .content p {
      padding-left: 30px;
      color: white;
      bottom: 10px;
      line-height: 30px;
      
  }

  .pic .content  a{
      text-decoration: none;
  }

  .pic .content b {
      font-size: 25px;
  }

  h2 {
      padding-top: 5px;
      padding-bottom: 20px;
    }

  .title {
      color: lightgray;
      line-height: 50px;
      padding-right: 40px;

  }

  .link {
      padding-top: 250px;
      padding-left:45px;
      font-size: 25px;
      color:#07cbc9
     
}

.link a {
    font-size: 18px;
    /* color: lightgray; */
    color:black;
}